.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
__pycache__

# backend
backend/secrets.py
backend/.mypy_cache
backend/google-credentials.json

# frontend
node_modules
dist
frontend/config/secrets.js

# infra
infra/config/credentials/
.terraform
