.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
__pycache__

# backend
backend/*config.py

# frontend
node_modules
dist
frontend/config/secrets.js

# infra
infra/config/credentials/
.terraform
